   *, *::before, *::after {
    box-sizing: border-box;
   }

    body {
    font-family: var(--typo-primary);
    margin: 0;
    background-image: url('img/Banner-1-new1-1366x800-1-com.jpg');
    height: 100vh;
    display: flex;
    background-attachment: fixed;
    padding: 2rem;
    font-size: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    }

    header{
        display: flex;
       flex-direction:right;
    }

    a {
        text-decoration: none;
        color: white;
        text-align: end;
       }

    #nav-right{
        display: flex;
        justify-content: end;
        padding: 1px 2px;
        color:white;
        margin-top: 0,2rem;
        margin-inline-end: 1rem;
        align-items: center;
        font-weight: 600;
        
      }

      #nav-right a:not(.btn){
            display: none;
            color: white;
            
        }



      #nav-left{
        display: flex;
        justify-content: end;
        
      }  

      .container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: 300px;
        padding: 2rem 1rem;
        text-align: auto;
        width: 400px;
        justify-content: end;
      }

      
    h1{
    color: #FBA91A;
    font-weight: 900;
    font-size: xx-large;
    font-family:sans-serif;
     }

     h3{
        color: white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: x-large;
        text-align: left;
        line-height: 45px;


    }

      
  p{
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: medium;
    text-align: left;
    line-height: 25px;
  }

   .maiz{
      max-width: 0,5;
  }

  #comander{
      display: inline-block;
      padding: .5rem .75rem;
    background-color: #FBA91A;
    color:black;
    font-weight: 900;
    font-size:medium;
  }

  #text-left{
    display: flex;
    justify-content: end;
    flex-direction: column;
    columns: 1fr;
    text-align: center;
    text-transform: uppercase;
    padding: 4px;
    
  }

  nav{
      display: flex;
      justify-content: space-between
  }

  @media screen and(min-width: 1024px){
        #nav-right a:not(.btn){
             display: inline;
            }
        }